<!-- Hidden navbar -->
<div class="collapse" id="navbarContent">
  <div class="collapseChild bg-dark p-4">
    <a class="navbar-brand py-0 d-inline-block align-center" href="./user-table">
      Photo website
    </a>
    <a class="nav-link" href="./user-table">
      Users
      <span class="bi bi-person-lines-fill"></span>
    </a>
  </div>
</div>

<div>
  <!-- Collapse button -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navbar">
        <span class="bi bi-arrows-expand"></span>
      </button>
    </div>
  </nav>
</div>

<!-- Breadcrumbs -->
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- Loop through the breadcrumb array, setting the last element as a separate variable. -->
      <li *ngFor="let breadcrumb of breadcrumbData; let last = last;" class="breadcrumb-item">
        <!-- If the element isn't last we set it as a link. -->
        <a *ngIf="!last" href="{{breadcrumb['url']}}">{{breadcrumb['title']}}</a>
        <!-- If the element is last we set it as text. -->
        <span *ngIf="last" class="lastElement">{{breadcrumb['title']}}</span>
      </li>
    </ol>
  </nav>
</div>

<router-outlet></router-outlet>