<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">Photo</h4>
    <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <img [src]="this.photoData['url']" class="card-img-top" (click)="showPhotoDetails()">
      <div class="card-body">
        <p *ngIf="!showDetails" class="card-text">{{this.photoData['title']}}</p>
        <div *ngIf="showDetails" class="card-text">
          <p><strong>Photo title:</strong> {{this.photoData['title']}}</p>
          <p><strong>Album title:</strong> {{this.photoData['albumTitle']}}</p>
          <p><strong>User:</strong> {{this.photoData['userName']}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="showPhotoDetails()">Details</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
  </div>

</div>